# Standard folder
/node_modules/
/coverage/
/docs/
/samples/
/public/
/src/
/tests/
/tools/
.github/

# Clean build
/dist/bin
/dist/**/*.js.map

# Clean individual files
.nojekyll
_sidebar.md
logo.png
index.html
